@font-face {
  font-family: MaterialIcons;
  src: url('../fonts/MaterialIcons.ttf');
}

/*@font-face {
  font-family: RobotoBold;
  src: url('../fonts/RobotoBold.ttf');
}
*/
@font-face {
font-family: RobotoItalic;
src: url('../fonts/RobotoItalic.ttf');
}

/*@font-face {
font-family: RobotoMedium;
src: url('../fonts/RobotoMedium.ttf');
}

@font-face {
font-family: RobotoRegular;
src: url('../fonts/RobotoRegular.ttf');
}
*/
